* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.home-view{
    color: black;
    text-align: center;
    
    text-decoration: none;
}

.space-between{
    justify-content:space-between;
}

/* .container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.image-card{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.image {
    width: 100%
}

.tags{
    text-align: center;
    padding: 20px 0px;
}

.tag {
    outline: none;
    border: none;
    color: black;
    margin: 0px 10px;
    background-color: transparent;
    cursor: pointer;
}

.active {
    font-weight: bold;
    border-bottom: 1px solid rgb(0, 0, 0);
} */